/* @import './base.css'; */

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  background-color: #F7F8FA;
  height: 100vh;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 480px;
    height: 100vh;
  }
}
